#!/bin/bash
#PBS -l nodes=[num_wrf_nodes]:ppn=[num_wrf_processors]
#PBS -N WRF
#PBS -l walltime=[wrf_walltime]
#PBS -A climlab

cd [run_output_dir]

module add wrf/wrf-3.9.1

ulimit -s unlimited
mpirun -np [mpi_wrf_total] wrf.exe